<%
locals.OLSKPageTitle = OLSKLocalized('EASVitrineTitle');
locals.OLSKPageDescription = OLSKLocalized('EASVitrineDescription');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKDecor/ui-style.css',
	'/_shared/common/ui-style.css',
	'ui-style.css',
];
%>

<div class="EASVitrine OLSKDecor OLSKDecorCapped OLSKDecorOutline OLSKDecorNoTopPad">

<%- include('../../node_modules/OLSKCrown/main.ejs', {
	OLSKCrownCardImageURL: process.env.EAS_VITRINE_IDENTITY_URL,
	OLSKCrownCardNameText: OLSKLocalized('EASVitrineTitle'),
}) %>

<%- include('../../node_modules/OLSKLanding/main.ejs', {
	OLSKLandingHeadingText: OLSKLocalized('EASVitrineDescription').replace(', all of it', ',<br /> all of it'),
	OLSKLandingBlurbText: OLSKLocalized('OLSKLandingBlurbText'),
	OLSKLandingActionText: OLSKFormatted(OLSKLocalized('OLSKLandingActionTextFormat'), EASGlanceProjectsCount()),
	OLSKLandingActionHref: OLSKCanonical('EASGlanceRoute'),
}) %>

<h1 class="EASVitrinePlatformsHeading"><%= OLSKLocalized('EASVitrinePlatformsHeadingText') %></h1>

<p class="EASVitrinePlatformsBlurb"><%= OLSKLocalized('EASVitrinePlatformsBlurbText') %></p>

<% EASPlatforms().forEach(function (item) { -%>
	<a class="EASVitrinePlatformsLink" href="<%= item.EASPlatformURL %>" target="_blank">
		<img class="EASVitrinePlatformsLinkImage" src="<%= item._EASPlatformIconURLCachedPath || item.EASPlatformIconURL %>" />
		<span class="EASVitrinePlatformsLinkText"><%= item.EASPlatformName %></span>
	</a>
<% }) -%>

<h1 class="EASVitrineDiscussingHeading"><%= OLSKLocalized('EASVitrineDiscussingHeadingText') %></h1>
<iframe class="EASVitrineDiscussingVideo" src="<%= process.env.EAS_VITRINE_DISCUSSING_VIDEO_URL %>" allowfullscreen></iframe>

<script src="https://olsk.rosano.ca/OSFeedbox/master/main.js"></script>
<div class="parent-OSFeedbox"></div>
<script type="text/javascript">
OSFeedbox.load({
	parent: document.querySelector('.parent-OSFeedbox'),
	feed: '<%= process.env.ROCO_FEED_URL %>',
	limit: 5,
});
</script>

<h1 class="EASVitrineAlternativesHeading"><%= OLSKLocalized('EASVitrineAlternativesHeadingText') %></h1>
<dl class="EASVitrineAlternativesContainer OLSKDecorGlossary" lang="en">
	<% EASAlternatives().forEach(function (item) { -%>
	<dt><a class="EASVitrineAlternativesLink" href="<%= item.EASAlternativeURL %>" target="_blank"><%= item.EASAlternativeName %></a></dt>
	<dd class="EASVitrineAlternativesBlurb"><%= item.EASAlternativeBlurb %></dd>
	<% }) -%>
</dl>

<%- include('../../node_modules/ROCOGazette/main.ejs', {
	_OLSKModulesDirPrefix: '../.',
	ROCOBulletinProject: 'Easy Indie App',
}) %>

<%- include('../../node_modules/OLSKEdit/main.ejs', {
	OLSKEditURL: process.env.OLSK_REPO_URL,
}) %>

<h1 class="EASVitrineAlsoHeading"><%= OLSKLocalized('EASVitrineAlsoHeadingText') %></h1>
<div class="EASVitrineZeroDataCrown OLSKCommonCard OLSKCommonCrownCard">
	<img class="EASVitrineZeroDataCrownIcon" src="<%= process.env.EAS_VITRINE_ZERO_DATA_IDENTITY_URL %>" role="presentation" />
	<section>
		<a class="EASVitrineZeroDataCrownName" href="<%= process.env.EAS_VITRINE_ZERA_DATA_URL %>">Zero Data App</a>
		<a class="EASVitrineZeroDataCrownBlurb"><%= OLSKLocalized('EASVitrineZeroDataCrownBlurbText') %></a>
	</section>
</div>

<hr role="presentation" />

<%- include('../../node_modules/SWARLink/main.ejs') %>

<%- include('../_shared/__external/ROCORootLink/main.ejs') %>

</div>
