<%
locals.OLSKPageTitle = OLSKLocalized('EASVitrineTitle');
locals.OLSKPageDescription = OLSKLocalized('EASVitrineDescription');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKDecor/ui-style.css',
	'/_shared/common/ui-style.css',
	'ui-style.css',
];
%>

<div class="EASVitrine OLSKDecor OLSKDecorCapped">

<%- include('../../node_modules/OLSKCrown/main.ejs', {
	OLSKCrownCardImageURL: process.env.EAS_VITRINE_IDENTITY_URL,
	OLSKCrownCardNameText: OLSKLocalized('EASVitrineTitle'),
}) %>

<%- include('../../node_modules/OLSKLanding/main.ejs', {
	OLSKLandingHeadingText: OLSKLocalized('EASVitrineDescription').replace(', all of it', ',<br /> all of it'),
	OLSKLandingBlurbText: OLSKLocalized('OLSKLandingBlurbText'),
	OLSKLandingActionText: OLSKFormatted(OLSKLocalized('OLSKLandingActionTextFormat'), EASGlanceProjectsCount()),
	OLSKLandingActionHref: OLSKCanonical('EASGlanceRoute'),
}) %>

<h1 class="EASVitrineInformationHeading"><%= OLSKLocalized('EASVitrineInformationHeadingText') %></h1>

<ul>
	<li><a class="EASVitrineRepoLink" href="<%= process.env.EAS_VITRINE_REPO_URL %>"><%= OLSKLocalized('EASVitrineRepoLinkText') %></a></li>
</ul>

<%- include('../../node_modules/ROCOGazette/main.ejs', {
	_OLSKModulesDirPrefix: '../.',
	ROCOBulletinProject: 'RP_011',
}) %>

<h1 class="EASVitrineJarHeading"><%= OLSKLocalized('OLSKJarHeadingText') %></h1>
<%- include('../../node_modules/OLSKJar/main.ejs') %>

<h1 class="EASVitrineAlsoHeading"><%= OLSKLocalized('EASVitrineAlsoHeadingText') %></h1>
<div class="EASVitrineZeroDataCrown OLSKCommonCard OLSKCommonCrownCard">
	<img class="EASVitrineZeroDataCrownIcon" src="<%= process.env.EAS_VITRINE_ZERO_DATA_IDENTITY_URL %>" role="presentation" />
	<section>
		<a class="EASVitrineZeroDataCrownName" href="<%= process.env.EAS_VITRINE_ZERA_DATA_URL %>">Zero Data App</a>
		<a class="EASVitrineZeroDataCrownBlurb"><%= OLSKLocalized('EASVitrineZeroDataCrownBlurbText') %></a>
	</section>
</div>

<h1 class="EASVitrineLatestHeading"><%= OLSKLocalized('OLSKWordingLatestHeading') %></h1>
<%- include('../../node_modules/ROCOForum/main.ejs', {
	ROCOForumTopic: process.env.ROCO_FORUM_TOPIC,
}) %>

<hr role="presentation" />

<%- include('../../node_modules/ROCOEphemerataLink/main.ejs') %>

<%- include('../../node_modules/SWARLink/main.ejs') %>

<%- include('../_shared/__external/ROCORootLink/main.ejs') %>

</div>
