<%
locals.OLSKPageTitle = OLSKLocalized('EASVitrineTitle');
locals.OLSKPageDescription = OLSKLocalized('EASVitrineDescription');
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKDecor/ui-style.css',
	'/_shared/__external/ZDAForum/ui-style.css',
	'/_shared/common/ui-style.css',
	'ui-style.css',
];
%>

<div class="EASVitrine OLSKDecor OLSKDecorCapped OLSKDecorOutline OLSKDecorNoTopPad">

<%- include('../../node_modules/OLSKCrown/main.ejs', {
	OLSKCrownCardImageURL: process.env.EAS_VITRINE_IDENTITY_URL,
	OLSKCrownCardNameText: OLSKLocalized('EASVitrineTitle'),
}) %>

<%- include('../../node_modules/OLSKLanding/main.ejs', {
	OLSKLandingHeadingText: OLSKLocalized('EASVitrineDescription').replace(', all of it', ',<br /> all of it'),
	OLSKLandingBlurbText: OLSKLocalized('OLSKLandingBlurbText'),
	OLSKLandingActionText: OLSKFormatted(OLSKLocalized('OLSKLandingActionTextFormat'), EASGlanceProjectsCount()),
	OLSKLandingActionHref: OLSKCanonical('EASGlanceRoute'),
}) %>

<h1 class="EASVitrinePlatformsHeading"><%= OLSKLocalized('EASVitrinePlatformsHeadingText') %></h1>

<p class="EASVitrinePlatformsBlurb"><%= OLSKLocalized('EASVitrinePlatformsBlurbText') %></p>

<% EASPlatforms().forEach(function (item) { -%>
	<a class="EASVitrinePlatformsLink" href="<%= item.EASPlatformURL %>" target="_blank">
		<img class="EASVitrinePlatformsLinkImage" src="<%= item._EASPlatformIconURLCachedPath || item.EASPlatformIconURL %>" />
		<span class="EASVitrinePlatformsLinkText"><%= item.EASPlatformName %></span>
	</a>
<% }) -%>

<%- include('../../node_modules/ROCOGazette/main.ejs', {
	_OLSKModulesDirPrefix: '../.',
	ROCOBulletinProject: process.env.ROCO_SHARED_PROJECT_ID,
}) %>

<%- include('../../node_modules/OLSKJar/main.ejs') %>

<%- include('../../node_modules/OLSKEdit/main.ejs', {
	OLSKEditURL: process.env.OLSK_REPO_URL,
}) %>

<h1 class="EASVitrineAlsoHeading"><%= OLSKLocalized('EASVitrineAlsoHeadingText') %></h1>
<div class="EASVitrineZeroDataCrown OLSKCommonCard OLSKCommonCrownCard">
	<img class="EASVitrineZeroDataCrownIcon" src="<%= process.env.EAS_VITRINE_ZERO_DATA_IDENTITY_URL %>" role="presentation" />
	<section>
		<a class="EASVitrineZeroDataCrownName" href="<%= process.env.EAS_VITRINE_ZERA_DATA_URL %>">Zero Data App</a>
		<a class="EASVitrineZeroDataCrownBlurb"><%= OLSKLocalized('EASVitrineZeroDataCrownBlurbText') %></a>
	</section>
</div>

<%- include('../../node_modules/ROCOForum/main.ejs', {
	ROCOForumDomain: process.env.ROCO_FORUM_DOMAIN,
}) %>

<hr role="presentation" />

<%- include('../../node_modules/SWARLink/main.ejs') %>

<hr role="presentation" />

<%- include('../_shared/__external/ROCORootLink/main.ejs') %>

</div>
