<div class="EASGlanceList" lang="en">

<% if (!locals.EASGlanceListData.length) { -%>
	<p class="EASGlanceListEmpty"><%= OLSKLocalized('EASGlanceListEmptyText') %></p>
<% } -%>

<div class="list">
<% locals.EASGlanceListData.forEach(function (item) { -%>
	<div class="EASGlanceListItem OLSKCommonCard" data-tags="<%= (item.EASProjectTags || []).join(', ') %>" data-platforms="<%= Object.keys(item.EASProjectPlatforms || {}).map(function (e) {
		return EASPlatform.EASPlatformSystemProperties()[e].EASSystemName;
	}).join(', ') %>">
		<a class="EASGlanceListItemIcon" href="<%= OLSKCanonical('EASInstallRoute', {
			EASProjectID: item.EASProjectID,
		}) %>">
			<img class="EASGlanceListItemIconImage" src="<%= item._EASProjectIconURLCachedPath || item.EASProjectIconURL || '/_shared/__external/OLSKUIAssets/_OLSKSharedIconPlaceholder.svg' %>" />
		</a>
		<section>
			<span class="EASGlanceListItemName"><%= item.EASProjectName %></span>
			<span class="EASGlanceListItemBlurb"><%= item.EASProjectBlurb %></span>
		</section>
	</div>
<% }) -%>
</div>

</div>
