<div class="EASGlanceList" lang="en">

<% if (!locals.EASGlanceListData.length) { -%>
	<p class="EASGlanceListEmpty"><%= OLSKLocalized('EASGlanceListEmptyText') %></p>
<% } -%>

<div class="list">
<% locals.EASGlanceListData.forEach(function (item) { -%>
	<a class="EASGlanceListItem" href="<%= item.EASProjectURL %>" target="_blank" title="<%= item.EASProjectBlurb %>">
		<img class="EASGlanceListItemIcon" src="<%= item._EASProjectIconURLCachedPath || item.EASProjectIconURL || '/_shared/__external/OLSKUIAssets/_OLSKSharedIconPlaceholder.svg' %>" />
		<span class="EASGlanceListItemName"><%= item.EASProjectName %></span>
	</a>
<% }) -%>
</div>

</div>
