<%
locals.OLSKPageTitle = EASInstallData.EASProjectName;
locals.OLSKPageDescription = EASInstallData.EASProjectBlurb;
locals.OLSKPageAssets = [
	'/_shared/__external/normalize.css/normalize.css',
	'/_shared/__external/OLSKDecor/ui-style.css',
	'/_shared/common/ui-style.css',
	'ui-style.css',
];
locals.OLSKPageMetaViewport = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0';
%>

<div class="EASInstall OLSKDecor OLSKDecorCapped OLSKDecorOutline OLSKDecorFormBlend">

<div class="EASInstallCrown OLSKCommonCard OLSKCommonCrownCard">
	<img class="EASInstallCrownIcon" src="<%= EASInstallData._EASProjectIconURLCachedPath || EASInstallData.EASProjectIconURL || '/_shared/__external/OLSKUIAssets/_OLSKSharedIconPlaceholder.svg' %>" role="presentation" />
	<section>
		<span class="EASInstallCrownName"><%= EASInstallData.EASProjectName %></span>
		<span class="EASInstallCrownBlurb"><%= EASInstallData.EASProjectBlurb %></span>
	</section>
</div>

<a class="EASInstallSite OLSKDecorPress OLSKDecorPressCall" href="<%= EASInstallData.EASProjectURL %>"><%= OLSKLocalized('EASInstallSiteText') %></a>

<% if (EASInstallData.EASProjectFunding) { -%>
	<a class="EASInstallContribute OLSKDecorPress OLSKDecorPressCall" href="<%= EASInstallData.EASProjectFunding[0] %>"><%= OLSKLocalized('EASInstallContributeText') %></a>
<% } -%>

<h1 class="EASInstallPlatformsHeading"><%= OLSKLocalized('EASInstallPlatformsHeadingText') %></h1>

<p>
<% Object.values(EASInstallData.EASProjectPlatforms || {}).forEach(function (e) { -%>
	<a class="EASInstallPlatformsItem OLSKDecorPress" href="<%= e.EASPlatformSystem.EASSystemSetupURL %>"><%= e.EASPlatformSystem.EASSystemName %></a>
<% }) -%>
</p>

<hr role="presentation" />

<%- include('../_shared/EASRootLink/main.ejs') %>
	
</div>
